<div fxLayout="row" fxLayoutAlign="space-around center" class="action-bar-container">
  <div>
    <button mat-fab color="default" class="default-button" aria-label="Left button">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
  </div>
  <div>
    <button mat-fab color="default" class="default-button" aria-label="Enter button">
    </button>
  </div>
  <div>
    <button mat-fab color="default" class="default-button" aria-label="Right button">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </div>
</div>
