.tamagotchi-container {
  height: 100%;
}
.tamagotchi-buttons{
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  background-color: #7870AC;
  color: white;
  font-weight: 600;
}



.lightOn {
  background-color: white;
}

.lightOff {
  background-color: black;
}

button {
  flex-grow: 1;
}

.selected-button {
  background-color: #CFC9F2;
}
