<div class="tamagotchi-container" fxLayout="column" fxLayoutAlign="center stretch">
  <div class="tamagotchi-buttons">
    <button mat-button aria-label="Feed">
      <i class="fa-solid fa-2xl fa-utensils"></i>
    </button>
    <button mat-button aria-label="Toggle light">
      <i class="fa-solid fa-2xl fa-lightbulb"></i>
    </button>
    <button mat-button aria-label="Play">
      <i class="fa-solid fa-2xl fa-gamepad"></i>
    </button>
    <button mat-button aria-label="Treat illness">
      <i class="fa-solid fa-2xl fa-syringe"></i>
    </button>
  </div>

  <div fxLayoutAlign="center none" fxFlex>
    <img class="tamagotchi-img" src="../../../assets/baby/baby-average.gif" />
  </div>

  <div class="tamagotchi-buttons">
    <button mat-button aria-label="Wash">
      <i class="fa-solid fa-2xl fa-bath"></i>
    </button>
    <button mat-button aria-label="Stats">
      <i class="fa-solid fa-2xl fa-weight-scale"></i>
    </button>
    <button mat-button aria-label="Discipline">
      <i class="fa-solid fa-2xl fa-face-angry"></i>
    </button>
    <button mat-button aria-label="Social">
      <i class="fa-solid fa-2xl fa-user-group"></i>
    </button>
  </div>
</div>
